################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/
/**/obj/
/**/packages
*.user
*.suo
/application-insights/correlation/.vs/correlation/v15/Server/sqlite3
*.sqlite
.vs/VSWorkspaceState.json
*.ide
.vs/ProjectSettings.json
