
<style type="text/css">
    table, td {
        border: double;
    }

    thead {
        background-color: darkgray;
        font-size: 20px;
        font-family: Courier New, Courier, monospace;
        font-weight: 900;
    }
</style>
<h2>Consuming WCF REST Service in Angular JS</h2>
<body ng-app="RESTClientModule" ng-controller="RESTClientController">
    <div>
        Radius of circle: <input type="number" ng-model="radius" />
        <button ng-click="findArea()">Find Area</button>
        <br />
        Result - {{message}}<br />
        Operation Id - {{operation_id}}

    </div>
    <div>
        <button ng-click="testHeaders()">Echo headers</button>
    </div>
</body>

<script src="~/Scripts/angular.js"></script>
<script src="~/JS/Modules.js"></script>
<script src="~/JS/Services.js"></script>
<script src="~/JS/Controllers.js"></script>
